
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.robot-ai-pGd {
  height: 111.7rem;
  position: relative;
  overflow: hidden;
  background-color: #000d3f;
  width: 100%;

  .macbook-pro-16-2-Xwj {
    background-color: #18003f;
    width: 82.4rem;
    height: 111.7rem;
    position: absolute;
    left: 90.4rem;
    top: 0;
    overflow: hidden;

    .ellipse-21-eWZ {
      border-radius: 51.6rem;
      width: 103.2rem;
      height: 103.2rem;
      position: absolute;
      left: -51.7709rem;
      top: 17.5rem;
      background: radial-gradient(50% 50% at 50% 50%, #9f1dfd 0%, rgba(77, 0, 255, 0) 92.71%);
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-a-rhoncus-nisi-diam-elementum-amet-felis-nibh-pulvinar-elementum-ornare-pharetra-leo-tellus-id-elementum-tempus-cursus-ac-imperdiet-tellus-ornare-duis-vel-lacus-lacus-volutpat-vulputate-egestas-in-XaM {
      left: 34.1rem;
      top: 74.9rem;
      font-size: 1.4rem;
      line-height: 1.5149999346;
      letter-spacing: 0.014rem;
      color: #ffffff;
      position: absolute;
      height: 8.5rem;
      font-weight: 400;
      text-transform: capitalize;
      font-family: Jost, 'Source Sans Pro';
      width: 42.2rem;
    }
    .new-technology-KFK {
      color: #ffffff;
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      text-transform: uppercase;
      width: 41.4rem;
      left: 34.25rem;
      top: 66.9632rem;
      text-align: center;
      font-size: 4.5295rem;
      font-weight: 700;
      height: 6.6rem;
      line-height: 1.445;
      letter-spacing: -0.2038rem;
    }
  }
  .concept-yam {
    white-space: nowrap;
    top: 7.9rem;
    color: #ffffff;
    font-family: Jost, 'Source Sans Pro';
    letter-spacing: -0.048rem;
    width: 7.1rem;
    height: 2.4rem;
    line-height: 1.445;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    left: 72.6rem;
    font-size: 1.6rem;
    text-align: center;
  }
  .contact-GJy {
    text-align: center;
    line-height: 1.445;
    letter-spacing: -0.048rem;
    width: 7rem;
    height: 2.4rem;
    left: 86.4rem;
    font-size: 1.6rem;
    white-space: nowrap;
    position: absolute;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Jost, 'Source Sans Pro';
    top: 7.9rem;
    font-weight: 500;
  }
  .about-us-Z3B {
    color: #ffffff;
    position: absolute;
    left: 100.15rem;
    top: 7.9rem;
    font-size: 1.6rem;
    line-height: 1.445;
    letter-spacing: -0.048rem;
    height: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 7.3rem;
    font-family: Jost, 'Source Sans Pro';
    font-weight: 500;
  }
  .frame-1-e4d {
    left: 160.825rem;
    top: 8.15rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.15rem;
    height: 2.1rem;
    position: absolute;
  }
  .rectangle-28-yMo {
    border-radius: 1.8rem;
    width: 11.9rem;
    height: 3.6rem;
    left: 70.2rem;
    background-color: #110525;
    position: absolute;
    top: 7.3rem;
    border: solid 0.15rem #ffffff;
    box-sizing: border-box;
  }
  .group-47-tDs {
    width: 7.2887rem;
    height: 8.5rem;
    position: absolute;
    left: 9.1099rem;
    top: 4.9rem;

    .ellipse-22-1JV {
      background: linear-gradient(180deg, #5837dd -0%, rgba(3, 3, 3, 0) 100%);
      border-radius: 2.8528rem;
      width: 5.7057rem;
      height: 5.7057rem;
      position: absolute;
      left: 0;
      top: 1.3472rem;
    }
    .a-VjT {
      width: 3.9rem;
      position: absolute;
      top: 0;
      font-size: 5.824rem;
      line-height: 1.445;
      height: 8.5rem;
      font-weight: 500;
      letter-spacing: -0.1747rem;
      text-transform: uppercase;
      color: #ffffff;
      left: 3.3887rem;
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
    }
  }
  .robot-intelligence-yed {
    position: absolute;
    font-size: 2.2rem;
    color: #ffffff;
    width: 19.2rem;
    height: 3.2rem;
    letter-spacing: 0.132rem;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
    left: 8.9rem;
    line-height: 1.445;
    font-weight: 400;
    text-transform: capitalize;
    top: 42.4rem;
    text-align: center;
  }
  .robot-ai-GNq {
    height: 11.7rem;
    top: 44.2rem;
    color: #ffffff;
    width: 36.3rem;
    text-align: center;
    text-transform: uppercase;
    font-family: Jost, 'Source Sans Pro';
    position: absolute;
    left: 8.95rem;
    font-weight: 700;
    white-space: nowrap;
    font-size: 8.038rem;
    line-height: 1.445;
    letter-spacing: -0.3617rem;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-a-rhoncus-nisi-diam-elementum-amet-felis-nibh-pulvinar-elementum-ornare-pharetra-leo-tellus-id-elementum-tempus-cursus-ac-imperdiet-tellus-ornare-duis-vel-lacus-lacus-volutpat-vulputate-egestas-in-Mv5 {
    color: #ffffff;
    width: 46.3rem;
    height: 8.5rem;
    position: absolute;
    left: 8.9rem;
    font-size: 1.4rem;
    line-height: 1.5149999346;
    letter-spacing: 0.014rem;
    top: 55.8rem;
    font-weight: 400;
    text-transform: capitalize;
    font-family: Jost, 'Source Sans Pro';
  }
  .group-6-NKP {
    height: 5.8rem;
    cursor: pointer;
    position: absolute;
    left: 9rem;
    top: 73.6rem;
    border-radius: 0.9rem;
    width: 28.2rem;

    .frame-54-JD3 {
      width: 100%;
      border-radius: 0.9rem;
      line-height: 1.445;
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.8rem;
      font-weight: 500;
      color: #ffffff;
      display: flex;
      align-items: center;
      height: 100%;
      letter-spacing: 0.036rem;
      justify-content: center;
      background: linear-gradient(7.72deg, #112dbc 120.1%, rgba(34, 55, 163, 0) 265.12%);
    }
  }
  .akar-icons-heart-wmo {
    position: absolute;
    left: 9.1521rem;
    top: 66.4803rem;
    object-fit: contain;
    vertical-align: top;
    opacity: 0.77;
    width: 1.5211rem;
    height: 1.3564rem;
  }
  .ant-design-share-alt-outlined-4bX {
    vertical-align: top;
    opacity: 0.77;
    width: 1.4974rem;
    height: 1.6305rem;
    position: absolute;
    left: 12.5415rem;
    top: 66.3496rem;
    object-fit: contain;
  }
  .ellipse-21-aZs {
    background: radial-gradient(50% 50% at 50% 50%, #5c1dfd 0%, rgba(1, 0, 255, 0) 92.71%);
    border-radius: 51.5999rem;
    width: 103.1999rem;
    height: 103.1999rem;
    position: absolute;
    left: 34.915rem;
    top: 18.4rem;
  }
  .item-1-6-s3B {
    width: 82.3207rem;
    height: 89.6rem;
    position: relative;
    left: 55.3897rem;
    top: 23.1rem;
    background-size: 193.715% 100%;
    background-position: -45.597rem -0rem;
    background-image: url('REPLACE_IMAGE:711404bef3cd469f6a4316a699c2858c2a33c5f2');
  }
}
