
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.robot-ai-pGd {
  width: 100%;
  height: 111.7rem;
  position: relative;
  overflow: hidden;
  background-color: #000d3f;
}
.robot-ai-pGd .macbook-pro-16-2-Xwj {
  width: 82.4rem;
  height: 111.7rem;
  position: absolute;
  left: 90.4rem;
  top: 0;
  overflow: hidden;
  background-color: #18003f;
}
.robot-ai-pGd .macbook-pro-16-2-Xwj .ellipse-21-eWZ {
  width: 103.2rem;
  height: 103.2rem;
  position: absolute;
  left: -51.7709rem;
  top: 17.5rem;
  background: radial-gradient(50% 50% at 50% 50%, #9f1dfd 0%, rgba(77, 0, 255, 0) 92.71%);
  border-radius: 51.6rem;
}
.robot-ai-pGd .macbook-pro-16-2-Xwj .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-a-rhoncus-nisi-diam-elementum-amet-felis-nibh-pulvinar-elementum-ornare-pharetra-leo-tellus-id-elementum-tempus-cursus-ac-imperdiet-tellus-ornare-duis-vel-lacus-lacus-volutpat-vulputate-egestas-in-XaM {
  width: 42.2rem;
  height: 8.5rem;
  position: absolute;
  left: 34.1rem;
  top: 74.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5149999346;
  letter-spacing: 0.014rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.robot-ai-pGd .macbook-pro-16-2-Xwj .new-technology-KFK {
  width: 41.4rem;
  height: 6.6rem;
  position: absolute;
  left: 34.25rem;
  top: 66.9632rem;
  text-align: center;
  font-size: 4.5295rem;
  font-weight: 700;
  line-height: 1.445;
  letter-spacing: -0.2038rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.robot-ai-pGd .concept-yam {
  width: 7.1rem;
  height: 2.4rem;
  position: absolute;
  left: 72.6rem;
  top: 7.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.445;
  letter-spacing: -0.048rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.robot-ai-pGd .contact-GJy {
  width: 7rem;
  height: 2.4rem;
  position: absolute;
  left: 86.4rem;
  top: 7.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.445;
  letter-spacing: -0.048rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.robot-ai-pGd .about-us-Z3B {
  width: 7.3rem;
  height: 2.4rem;
  position: absolute;
  left: 100.15rem;
  top: 7.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.445;
  letter-spacing: -0.048rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.robot-ai-pGd .frame-1-e4d {
  width: 3.15rem;
  height: 2.1rem;
  position: absolute;
  left: 160.825rem;
  top: 8.15rem;
  object-fit: contain;
  vertical-align: top;
}
.robot-ai-pGd .rectangle-28-yMo {
  width: 11.9rem;
  height: 3.6rem;
  position: absolute;
  left: 70.2rem;
  top: 7.3rem;
  border: solid 0.15rem #ffffff;
  box-sizing: border-box;
  background-color: #110525;
  border-radius: 1.8rem;
}
.robot-ai-pGd .group-47-tDs {
  width: 7.2887rem;
  height: 8.5rem;
  position: absolute;
  left: 9.1099rem;
  top: 4.9rem;
}
.robot-ai-pGd .group-47-tDs .ellipse-22-1JV {
  width: 5.7057rem;
  height: 5.7057rem;
  position: absolute;
  left: 0;
  top: 1.3472rem;
  background: linear-gradient(180deg, #5837dd -0%, rgba(3, 3, 3, 0) 100%);
  border-radius: 2.8528rem;
}
.robot-ai-pGd .group-47-tDs .a-VjT {
  width: 3.9rem;
  height: 8.5rem;
  position: absolute;
  left: 3.3887rem;
  top: 0;
  text-align: center;
  font-size: 5.824rem;
  font-weight: 500;
  line-height: 1.445;
  letter-spacing: -0.1747rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.robot-ai-pGd .robot-intelligence-yed {
  width: 19.2rem;
  height: 3.2rem;
  position: absolute;
  left: 8.9rem;
  top: 42.4rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.445;
  letter-spacing: 0.132rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.robot-ai-pGd .robot-ai-GNq {
  width: 36.3rem;
  height: 11.7rem;
  position: absolute;
  left: 8.95rem;
  top: 44.2rem;
  text-align: center;
  font-size: 8.038rem;
  font-weight: 700;
  line-height: 1.445;
  letter-spacing: -0.3617rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.robot-ai-pGd .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-a-rhoncus-nisi-diam-elementum-amet-felis-nibh-pulvinar-elementum-ornare-pharetra-leo-tellus-id-elementum-tempus-cursus-ac-imperdiet-tellus-ornare-duis-vel-lacus-lacus-volutpat-vulputate-egestas-in-Mv5 {
  width: 46.3rem;
  height: 8.5rem;
  position: absolute;
  left: 8.9rem;
  top: 55.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5149999346;
  letter-spacing: 0.014rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.robot-ai-pGd .group-6-NKP {
  width: 28.2rem;
  height: 5.8rem;
  cursor: pointer;
  position: absolute;
  left: 9rem;
  top: 73.6rem;
  border-radius: 0.9rem;
}
.robot-ai-pGd .group-6-NKP .frame-54-JD3 {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.445;
  letter-spacing: 0.036rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(7.72deg, #112dbc 120.1%, rgba(34, 55, 163, 0) 265.12%);
  border-radius: 0.9rem;
}
.robot-ai-pGd .akar-icons-heart-wmo {
  opacity: 0.77;
  width: 1.5211rem;
  height: 1.3564rem;
  position: absolute;
  left: 9.1521rem;
  top: 66.4803rem;
  object-fit: contain;
  vertical-align: top;
}
.robot-ai-pGd .ant-design-share-alt-outlined-4bX {
  opacity: 0.77;
  width: 1.4974rem;
  height: 1.6305rem;
  position: absolute;
  left: 12.5415rem;
  top: 66.3496rem;
  object-fit: contain;
  vertical-align: top;
}
.robot-ai-pGd .ellipse-21-aZs {
  width: 103.1999rem;
  height: 103.1999rem;
  position: absolute;
  left: 34.915rem;
  top: 18.4rem;
  background: radial-gradient(50% 50% at 50% 50%, #5c1dfd 0%, rgba(1, 0, 255, 0) 92.71%);
  border-radius: 51.5999rem;
}
.robot-ai-pGd .item-1-6-s3B {
  width: 82.3207rem;
  height: 89.6rem;
  position: relative;
  left: 55.3897rem;
  top: 23.1rem;
  background-size: 193.715% 100%;
  background-position: -45.597rem -0rem;
  background-image: url('../assets/-Pc9.png');
}
